.home {
  display: flex;
  .homeContainer {
    flex: 6;
    .widgetContainer,
    .Charts {
      display: flex;
      padding: 10px;
      gap: 20px;
    }
    .list {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      border-radius: 10px;
      padding: 10px;
      color: gray;
      .listTitle {
        font-size: 23px;
        font-weight: 500;
        margin-bottom: 15px;
      }
    }
  }
}
